html {
    @apply bg-grey-1 text-black-1 font-normal;
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover, 
    textarea:-webkit-autofill:focus, 
    textarea:-webkit-autofill:active,
    select:-webkit-autofill,
    select:-webkit-autofill:hover, 
    select:-webkit-autofill:focus, 
    select:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important; 
    }

    &.dark {
        @apply bg-dark text-white;
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover, 
        textarea:-webkit-autofill:focus, 
        textarea:-webkit-autofill:active,
        select:-webkit-autofill,
        select:-webkit-autofill:hover, 
        select:-webkit-autofill:focus, 
        select:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px #1A1A1A inset !important; 
        }

        input:-webkit-autofill, 
        textarea:-webkit-autofill,
        select:-webkit-autofill {
            -webkit-text-fill-color: white !important;
        }
    }

    .appearance-none::-webkit-inner-spin-button, 
    .appearance-none::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
    }

    .appearance-none {
        -moz-appearance: textfield;
    }

    input[type=checkbox], input[type=radio] {
        ~ label, ~ div {
            @apply opacity-60;
        }
    }

    input:checked ~ label {
        @apply opacity-100;
    }
    
    input:checked + div {
        @apply border-primary  dark:border-primary opacity-100 #{!important};
    }
    
    input[type=checkbox]:checked + div {
        @apply bg-primary  #{!important};
    }

    input:checked + div svg {
        @apply block;
    }

    
#splash-screen {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f3f8;
  }
  
  .dark #splash-screen{
    background-color: #1A1A1A;
  }
  
  #splash-screen img {
    margin-left: calc(100vw - 100%);
    margin-bottom: 30px;
  }
  
  #splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  
  .splash-spinner .path {
    stroke: #3581F3;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  
  .splash-spinner.stroke-white .path {
    stroke: #FFFFFF;
  }
  .splash-spinner.stroke-primary .path {
    stroke: #3581F3;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  

}
